[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
setuptools = "*"
pylint = "*"
black = "*"
httpx = "*"
asyncio = "*"
pyi18n-v2 = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.12"
